@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p class="p-font">
    RewardRecycle is a project started by four students of "De Haagse Hogeschool" in the Netherlands. This website is part of a system where users of RewardRecycle can spend points they collect by throwing away seperated garbage.
</p>
