@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Bleiswijkseweg 37E<br />
    Zoetermeer, 2712PB<br />
    <abbr title="Phone">P:</abbr>
    079-820 0396
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">12021598@student.hhs.nl</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">12021598@student.hhs.nl</a>
</address>
